footer.footer
  .container
    .footer__content
      .footer__info
        .footer__logo
          img(src="http://unibuild.gtcreators.com/wp-content/uploads/2017/06/logo-white-1.png", alt="Company Logo")
        p.footer__promo Morbi eu purus eget tellus fringilla malesuada eget nec nisi. Etiam nec dolor porttitor, cursus elit quis, tristique erat. Sed rhoncus molestie elit sit.
        .footer__feedbacks
          .footer__feedback
            +icon('ico-facebook-logo')
          .footer__feedback
            +icon('ico-facebook-logo')
      .footer__nav
        h3.footer__title The Company
        a.footer__link(href="#") About
        a.footer__link(href="#") Team
        a.footer__link(href="#") Complated Project
        a.footer__link(href="#") Our Clients
        a.footer__link(href="#") Feedbacks
      .footer__nav
        h3.footer__title Important Links
        a.footer__link(href="#")  Guidelines
        a.footer__link(href="#") Contribute
        a.footer__link(href="#") Privacy Policy
        a.footer__link(href="#") Terms of Use
        a.footer__link(href="#") Contact Us
      .footer__news.news
        h3.footer__title Recent News
        .news__item
          .news__img
            img(src="http://unibuild.gtcreators.com/wp-content/uploads/2017/06/portfolio-3-2-80x80.jpg", alt="")
          .news__content
            h4.news__title Etiam convallis fringilla placerat
            span.news__date July 18, 2017          
        .news__item
          .news__img
            img(src="http://unibuild.gtcreators.com/wp-content/uploads/2017/06/portfolio-3-2-80x80.jpg", alt="")
          .news__content
            h4.news__title Etiam convallis fringilla placerat
            span.news__date July 18, 2017          
        .news__item
          .news__img
            img(src="http://unibuild.gtcreators.com/wp-content/uploads/2017/06/portfolio-3-2-80x80.jpg", alt="")
          .news__content
            h4.news__title Etiam convallis fringilla placerat
            span.news__date July 18, 2017
  .footer__copyright
    span © Copyright 2017, All Rights Reserved
