header.header
  .container
    .header__wrap
      nav.header__nav
        a.header__link(href="#") Home
        a.header__link(href="#") Products
        a.header__link(href="#") Company
        a.header__link(href="#") Blog
