.footer
  background-color: #303233
  padding: 70px 0 0
  &__content
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    color: #fff
    margin: 0 0 20px
    min-height: 55vh
  &__info,
  &__nav,
  &__news
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    width: 23%
  &__logo
    width: 100%
    margin: 0 0 20px
  &__promo
    font-size: 15px
    line-height: 26px
    margin: 0 0 20px
  &__feedbacks
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
  &__feedback
    margin: 0 15px 0 0
  &__nav
    width: 15%
  &__title
    margin: 0 0 35px
    font-size: 20px
    font-weight: bold
  &__link
    margin: 0 0 25px
  &__copyright
    padding: 20px 0
    background-color: #232424
    color: $text2Color
    text-align: center

.news
  &__item
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    flex-wrap: wrap
    margin: 0 0 20px
  &__img
    width: 25%
    padding: 0 10px 0 0
    & img
      max-width: 50px
      max-height: 50px
  &__content
    width: 70%
  &__title
    font-size: 14px
    margin: 0 0 5px
    padding: 5px 0
  &__date
    font-size: 13px
    margin: 0
